.about{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    
    transition: 2s all ease;
    position: relative;

    .arrowUp{
      font-size: 800px;
      .iconL{
          position: absolute;
          align-items:flex-start;
            justify-content:left;
          color: black;
          font-size: 50px;
          cursor: pointer;
          
          top: 10px; 
          z-index: 3;
      } 
    }
    h1{
        margin-top: 200px;
        font-size: 60px;
    }
        
    h3{
        margin-top: 50px;
        font-size: 20px;
        font-weight: 300;
        width: 50%;
    }
    h2{
        margin-top: 300px;
    }
    
    ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    li{
      margin-top: 100px;
        font-size: 25px;
      margin-right: 50px;
      padding: 7px;
      border-radius: 10px;
      cursor:pointer;
      
      &:hover{
        background-color:rgb(1, 1, 71); 
        color: white;
      }
      
      

    }
  }
  .arrowDown{
      
    font-size: 80px;
    .iconL{
        position: absolute;
        align-items: center;
          justify-content: center;
        color: black;
        font-size: 50px;
        cursor: pointer;
        bottom: 10px;
        
    }

    
    
  }
    
}